.active {
    background-color: #c5c5c5 ;
    border-radius: 5px;
    text-decoration: none;
}

.navbar-active {
    position: fixed;
    width: 100%;
    z-index: 11;
}

.fixed-navbar {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 111;
}

.filled {
    background-color: yellow;
}


